body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.sticky-nav{
  position: sticky;
  top: 0;
  z-index: 9999;
}

#title {
  font-size: 80px;
  text-align: center;
  color: #C0C0C0;
  background-color: #795548;
  padding-top: 120px;
  padding-bottom: 180px;
  z-index: 9999;
}

.leftpad30 {
  padding-left: 30px;;
}

.nodpadding {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}

img {
  width: 150px;
}

.cardindex {
  z-index: 1;
}

.parallax-container {
  height: "200px";
}

.bar-color {
  background-color: #a1cae2;
}

#contact {
  text-align: center;
  color: #ffffff;
  background-color: #a1cae2;
  padding-top: 30px;
  padding-bottom: 75px;
}